body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
* Sidebar
*/

.sidebar {
    position: fixed; top: 0; bottom: 0; left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    .stats { 
        margin-top: 50px;
        .alert {
            margin-left: 1rem;
            margin-right: 1rem;
            ul {
                li { margin-bottom: 0px;}
            }
        }
    }
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 48px; /* Height of navbar */
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
* Navbar
*/

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
* Utilities
*/

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/*
*
*
* sign in 
*
*/

.pp-login-form-wrap {
    margin-top: 10% !important;
    form {
        .ppbs-headline { display: none; }
    }
}

/*
*
* Collapsible table (see https://mdbootstrap.com/snippets/jquery/cam/979615#html-tab-view)
*
*/

table {
    tr {
        td {
            &.expand-button {
                position: relative;
            }
            span {
                &.indicator {
                    display: inline-block;width: 15px;height: 15px;margin-top: 2px;border-radius: 50%;border: 1px solid white;
                    &.status-0 { background-color: red; }
                    &.status-1 { background-color: green; }
                    &.step-0 { background-color: red; }
                    &.step-1 { background-color: orange; }
                    &.step-2 { background-color: green; }
                }
            }
            .details {
                .card {
                    .card-body {
                        .indicators {
                            position: absolute; top: 10px; right: 10px;
                        }
                        ul {
                            li {
                                span.highlight {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.accordion-toggle {
            td {
                &.expand-button {
                    padding-right: 10px; font-weight: 600;
                    &:after {
                        position: absolute; left:.75rem; top: 50%; transform: translate(0, -50%); content: '-';
                    }
                }
            }
            &.collapsed {
                td {
                    &.expand-button {
                        &:after {
                            content: '+';
                        }
                    }
                }
            }
        }
        &.hide-table-padding {
            td { padding: 0; }
        }
    }
}